task_01/article.synctex.gz
task_01/article.aux
ТРЯП.pdf
task_01/article.fdb_latexmk
task_01/article.log
task_01/article.fls
Тряп Не Рубцов.pdf
Intro.pdf
task_01/article.out
task_02/task_02.aux
task_02/task_02.fdb_latexmk
task_02/task_02.fls
task_02/task_02.out
task_02/task_02.synctex.gz
task_02/task_02.log
task_03/task_03.aux
task_03/task_03.fdb_latexmk
task_03/task_03.fls
task_03/task_03.log
task_03/task_03.out
task_03/task_03.synctex.gz
ДЗ Рубцова/Task1.pdf
ДЗ Рубцова/Task2.pdf
ДЗ Рубцова/Task3.pdf
ДЗ Рубцова/Task4.pdf
ДЗ Рубцова/Task4extra.pdf
ДЗ Рубцова/Task5.pdf
ДЗ Рубцова/Task6.pdf
ДЗ Рубцова/Task7.pdf
ДЗ Рубцова/Task7extra.pdf
ДЗ Рубцова/Task8.pdf
ДЗ Рубцова/Task9.pdf
ДЗ Рубцова/Task10.pdf
ДЗ Рубцова/Task11.pdf
task_04/task_04.aux
task_04/task_04.fdb_latexmk
task_04/task_04.fls
task_04/task_04.log
task_04/task_04.out
task_04/task_04.synctex.gz
